@model HouseOfKings.Web.ViewModels.TempUsernameViewModel

<p>In order to join a game you need a username.</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.HiddenFor(m => m.ReturnUrl)
        @Html.LabelFor(m => m.TempUsername, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.TempUsername, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Continue</button>
}